@charset "utf-8";
body {
	width: 1280px;
}
   p {
	color: #3c4f2c;
	font-family: centaut;
	font-style: oblique;
	font-size: 24px;
	text-indent: 10px;
	text-transform: capitalize;
	border-top-right-radius: 0px;
	margin-right: 696px;
	padding-top: 0px;
	margin-top: 35px;
}




.dropbtn {
	background-color: hsla(25,39%,70%,1.00);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-left: -559px;
}
body header img {
	margin-top: -30px;
}


.dropdown {
	position: relative;
	display: inline-block;
	margin-top: -209px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: -140px;
	margin-left: 575px;
	opacity: 0.79;
	background-color: hsla(23,33%,64%,1.00);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding-top: 21px;
	margin-left: -567px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-left: -107px;
	margin-right: -155px;
}

.dropdown:hover .dropdown-content {
	display: block;
	/* [disabled]padding-top: 216px; */
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 12px;
}

.dropdown:hover .dropbtn {
  background-color:darkgrey;
	padding: 12px 16px;
}







body header h1 {
	color: #000000;
	font-family: Gubriola;
	font-style: oblique;
	font-size: 100px;
	text-align: center;
	margin-top: -335px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-left: -1057px;
	text-indent: 1491px;
}
.loog{
	margin-top: -320px;
	margin-left: 1195px;
	width: 53px;
	height: auto;
	float: none;
	opacity: 1;
	list-style-position: outside;
	margin-bottom: 265px;
}
body main {
	height: 650px;
	background-color: hsla(30,34%,76%,1.00);
	/* [disabled]width: 1280px; */
	margin-top: -23px;
}

main h1{
	color: #000000;
	font-family: Gubriola;
	font-style: oblique;
	font-size: 100px;
	text-align: center;
	margin-top: -39px;
	padding-top: 49px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-left: -1012px;
}

body main h2 {
	width: 777px;
	color: #3c4f2c;
	font-family: centaut;
	font-style: oblique;
	font-size: 24px;
	text-indent: 11px;
	text-transform: capitalize;
	margin-right: 696px;
	padding-top: 0px;
	padding-left: 278px;
	margin-top: -127px;
}
main div img {
	padding-left: 1067px;
	width: 156px;
	margin-right: 12px;
	margin-bottom: 194px;
	margin-top: -181px;
}
.xx{
	margin-top: -372px;
	margin-left: 212px;
	font-size: 30px;
	font-family: Gubriola;
}
.ul{
	color: #3c4f2c;
	font-family: centaut;
	font-style: oblique;
	font-size: 24px;
	text-indent: 11px;
	text-transform: capitalize;
	margin-top: -22px;
	margin-left: 226px;
	
	}
.Benefits{
	margin-top: 9px;
	margin-left: 196px;
	color: #000000;
	font-family: Gubriola;
	font-style: oblique;
	font-size: 24px;
}
.Benefitst{
	color: #3c4f2c;
	font-family: centaut;
	font-style: oblique;
	font-size: 20px;
	text-indent: 11px;
	text-transform: capitalize;
	margin-left: 224px;
	margin-top: -8px;
}
.Negatives{
	margin-top: -128px;
	color: #000000;
	font-family: Gubriola;
	font-style: oblique;
	margin-left: 523px;
	font-size: 24px;
}
.Negativesc{
	color: #3c4f2c;
	font-family: centaut;
	font-style: oblique;
	font-size: 20px;
	text-indent: 11px;
	text-transform: capitalize;
	margin-left: 548px;
	margin-top: -10px;
}
body main h6 {
	font-size: 30px;
	font-family: Gubriola;
	margin-top: -15px;
	margin-left: 9px;
}
body main p {
	width: 988px;
	margin-top: -60px;
	padding-top: 0px;
	margin-left: 13px;
}







body header img {
	padding-top: 0px;
	margin-top: -34px;
}
body footer {
	width: 1280px;
	height: 100px;
	background-color: hsla(30,34%,76%,1.00);
}
.lnstagram{
	margin-left: 1003px;
	margin-top: -26px;
}
footer a img {
	margin-top: 10px;
	/* [disabled]margin-left: 52px; */
}
.r{
	margin-left: 1103px;
	margin-top: -35px;
}
